<div class="container-lg">
    <h1>Survivor Faces</h1>
    <ul class="nav nav-tabs" id="survivorTabs" role="tablist">
        {{#each seasons}}
        <li class="nav-item" role="presentation">
        <button class="nav-link {{#if @first}}active{{/if}}"
                id="surv-{{this}}-tab"
                data-bs-toggle="tab"
                data-bs-target="#surv-{{this}}-tab-pane"
                type="button"
                role="tab"
                aria-controls="surv-{{this}}-tab-pane"
                aria-selected="{{#if @first}}true{{else}}false{{/if}}">{{this}}</button>
        {{/each}}
        <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="review-tab"
                data-bs-toggle="tab"
                data-bs-target="#review-tab-pane"
                type="button"
                role="tab"
                aria-controls="review-tab-pane"
                aria-selected="false">Review</button>
    </ul>

    <div class="tab-content" id="survivorTabContent">
        {{#each cast}}
        <div class="tab-pane fade {{#if @first}}show active{{/if}}"
            id="surv-{{@key}}-tab-pane"
            role="tabpanel"
            aria-labelledby="surv-{{@key}}-tab"
            tabindex="0">
            <div class="row">
                <div class="col">
                <figcaption class="figure-caption text-center">{{#with (lookup ../training_imgs @key)~}}{{key}}{{/with}}</figcaption>
                <img src={{#with (lookup ../training_imgs @key)~}}{{src}}{{/with}} class="mx-auto d-block img-header border" />
                </div>
            </div>

            <form id="survivor-{{@key}}" action="https://surviper.dmavec.workers.dev/submit" method="POST" class="needs-validation">
            <input type="hidden" id="id" name="id" value={{#with (lookup ../training_imgs @key)~}}{{key}}{{/with}} />
            <input type="hidden" id="season" name="season" value="{{@key}}" />
            <input type="hidden" id="user" name="user" value="dummy" />
            {{#each this}}
                {{#if (every4 @index)}}<div class="row">{{/if}}
                    <div class="col-3">
                        <label>
                        <input
                            type="radio"
                            name="survivor"
                            id="survivor"
                            class="text-center"
                            value="{{@key}}" required/>
                        <img src={{this}} class="img-responsive img-icons rounded border border-secondary" />
                        </label>
                    </div>
                {{#if (every4offset @index)}}</div>
                {{else}}
                  {{#if @last}}</div>{{/if}}
                {{/if}}
            {{/each}}
            <div class="row">
                <div class="col-3">
                    <label>
                    <input
                        type="radio"
                        name="survivor"
                        id="survivor"
                        value="host" />
                    <img src={{ ../other_imgs.host }} class="img-responsive img-icons rounded border border-secondary" />
                    </label>
                </div>
                <div class="col-3">
                    <label>
                    <input
                        type="radio"
                        name="survivor"
                        id="survivor"
                        value="n/a" />
                    <img src={{ ../other_imgs.not_sure }} class="img-responsive img-icons rounded border border-secondary" />
                    </label>
                </div>
                <div class="col-3">
                    <label>
                    <input
                        type="radio"
                        name="survivor"
                        id="survivor"
                        value="unknown" />
                    <img src={{ ../other_imgs.not_cast }} class="img-responsive img-icons rounded border border-secondary" />
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
            </form>
            {{#with (lookup ../label_counts @key)~}}
            <div class="progress" role="progressbar" 
                aria-label="Faces Progress" 
                aria-valuenow="{{valuenow}}" 
                aria-valuemin="{{valuemin}}" 
                aria-valuemax="{{valuemax}}">
            <div class="progress-bar bg-success" style="width: {{width}}">{{valuenow}} / {{valuemax}}</div>
            {{/with}} 
            </div>
        </div>
    {{/each}}

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
        });
    }, false);
    })();
    </script>
    </div>
</div>
